{% extends 'layout.html' %}

{% block content %}
  {% load static %}
  
  <div class="container text-left bg-black my-auto align-left">
      <header class="row bg-black">
          <div class="row align-left">
              <div class="col-4 align-left">
                <img class="align-left" src="{% static 'portfolio/webpage.jpeg' %}" alt="">
              </div>

              <div class="col-8 align-center text-justify">
                <h1>I am Julio Donadello</h1>
                <h3>I am a Python Machine Learning Engineer</h3>                  
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur quo, consequuntur minus voluptate quod voluptas odio illo, iure porro, accusantium eaque beatae! Eveniet debitis expedita eum quidem atque neque, hic quo possimus iure, veniam, mollitia voluptatibus. Recusandae hic maxime, suscipit laboriosam, in possimus, quia aperiam animi vero quisquam pariatur ab fugit dolor doloribus. Harum animi vitae unde nihil assumenda soluta ipsam sapiente possimus optio maiores, sequi vel quaerat repellat aliquam in facilis reprehenderit quibusdam quia voluptatum enim est, incidunt similique! Totam laborum animi, minima vero odio illum alias debitis consequuntur? Provident quos tenetur temporibus! Fugiat omnis officiis sed animi libero.</p>
                <a href="{% static 'portfolio/cvJulioDonadello.pdf' %}" class="btn btn-primary btn-lg rounded-0 my-3" target="_blank">Download CV</a>                 
              </div>
              
          </div>
      </header>
    </div>

  
  <div class="row my-4 text-center">
    <h3>My Projects</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ab! In dolores cupiditate accusantium facilis!</p>
    {% for project in projects  %}
      <div class="col-md-4 p-4">
        <div class="card-bg-black card-project">
          <img src="{{project.image.url}}" alt="{{project.title}}" class='card-img-top'>
          <div class="card-body">
            <h2 style="background-color: #990099;">{{ project.title }}</h2>
            <p style="color: #670d0d;background-color:rgb(173, 236, 91)">{{ project.description }}</p>
            <br>     
            {% if project.url %}
              <a href="{{project.url}}" class='btn btn-light rounded-4 btn-sm' target='_blank'>{{project.url}} </a>
            {%endif%}
            <br>
          </div>
        </div> 
      </div>
    {% endfor %}

    </div>    

{% endblock %}